# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase and environment secrets
.env
.env.*
/server/.env
firebase-debug.log
/hostinger

# Build and IDE files
node_modules
dist
dist-ssr
*.local
.vscode/*
.idea
.DS_Store

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
hostinger/create_invoice.php
.gitignore
hostinger/cleanup_invoices.php
hostinger/create_invoice.php
hostinger/create_payment.php
hostinger/get_invoice_status.php
hostinger/payment_callback.php
hostinger/payment_success.php
